a {
  text-decoration: none;
  margin-left: 10px;
}
.login-logout {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  background-color: #4ca9fd;
  font-size: 18px;
}
.nav-image {
  width: 60%;
  /* background-color: red; */
}
/* @media only screen and (max-width: 600px) {
  .nav-image {
    width: 40%;
  }
} */
